<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="build/css/index.css")
        title Live Reloading Gulp
    body
    h1 Practica Live Reloading Gulp
    p Centraal Academy