* {
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #0d3349 ;
    --secundary-color: #1e9e1e;
    --header-height: 50px;
}

/*
.navbar{
    background-color: #0d3349;
    padding: 0 20px;
}

.navbar__logo, .navbar__links, .navbar__button{
    display: inline-block;
}

.navbar__logo{
    width: 20%;
}
.navbar__logo__img{
    width: 40px;
    vertical-align: middle;
}
.navbar__links{
    width: 59%;
    text-align: center;
    vertical-align: middle;
}
.navbar__links__item{
    display: inline-block;
}

.navbar__links__item__a{
    color: #1e9e1e;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 10px;
}
.navbar__button{
    width: 20%;
    vertical-align: middle;
}*/

.navbar{
    background-color: var(--primary-color);
    height: var(--header-height);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__links{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navbar__links__item__a{
    margin: 0 10px;
    color: var(--secundary-color);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}