html
    head
        link(href='index.css' rel="stylesheet")
    body
        div.component(onClick="highlight()")
            h1.component__title Title and stuff
            p.component__content Pug source code!
        script(src='index.js')    
