html
    head
    body
        header
            h1 App para <%= environment %>
        div.component
            h2.component__title Test for Live Reload
            figure.component__images
                img(src="images/cats-1.png")
                img(src="images/cats-2.png")
                img(src="images/cats-3.png")
                figc Que horrible se ve sin estilos